
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    display: none;
  }
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('assets/50685691457_706c82c8b2_k.jpg');
    background-size: cover;
}
#welcome{
    margin: 20px;
    width: 80%;
    height: 300px;
    background-image: url('https://cdn.wallpapersafari.com/27/76/JbMcBm.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    user-select: none;
    border: 20px solid #f99f33;
}
.welcome{
    width: 60%;
    height: 100%;
    background-color: #0000009e;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    font-family: 'Sacramento';
    font-weight: bold;
    font-size: 8rem;
    color: white;
    text-shadow: 3px 3px 0px #ff4d00,
    -3px -3px 0px #ff4d00,
    0 8px 0 #ff6f00;
    height: 130px;
}
.info{
    font-family: 'Sacramento';
    font-size: 4rem;
    font-weight: bold;
    margin-left: 50px;
    color: white;
    text-shadow: 2px 2px 0px #ff4d00,
    -2px -2px 0px #ff4d00,
    0 5px 0 #ff6f00;
    font-style: italic;
}
#first{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: start;
    height: 100%;
}
#img{
    width: 40%;
    height: 100%;
    background-color: #0000009e;
    display: flex;
    justify-content: center;
    align-items: end;
}
#img img{
    width: 55%;
}



#produto{
    display: flex;
    margin: 20px;
    width: 80%;
    background-image: url('https://cdn.wallpapersafari.com/27/76/JbMcBm.jpg');
    background-size: cover;
    background-position-y: 40%;
    border: 30px solid #f99f33;
}
#produto div{
    padding: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    height: 100%;
    background-color: #0000009e;  
}
#produto div p{
    font-family: 'Sacramento';
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 0px #ff4d00,
    -2px -2px 0px #ff4d00,
    0 5px 0 #ff6f00;
    font-style: italic;
}
input{
    width: 17.2rem;
    padding: 15px;
    outline: none;
    border: 2px solid #ff4d00;
    box-shadow: 0 8px 0 #ff6f00;
    border-radius: 5px;
    font-size: 1.1rem;
    margin: 5px 0;
}
#butao{
    background-color: #ff4d00;
    box-shadow: 0 8px 0 #ff4d00;
    font-weight: bold;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}


#menu{
    display: flex;
    margin: 20px;
    width: 80%;
    background-color: orange;
    background-image: url('https://cdn.wallpapersafari.com/27/76/JbMcBm.jpg');
    background-size: cover;
    background-position-y: bottom;
    border: 30px solid #f99f33;
}
#menu div{
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #0000009e;  
}
#menu div p{
    font-family: 'Sacramento';
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 0px #ff4d00,
    -2px -2px 0px #ff4d00,
    0 5px 0 #ff6f00;
    font-style: italic;
}
table{
    border-spacing: 10px;
}
tr{
    background-color: white;
    padding:px;
}
th{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    background-color: #ff6f00;
    border: 3px solid #ff4d00;
    box-shadow: 0 8px 0 #ff4d00;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
td{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    border: 3px solid #ff4d00;
    box-shadow: 0 8px 0 #ff6f00;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}
#corpo button{
    width: 30px;
    height: 30px;
    background: none;
    background-image: url('assets/trash.png');
    background-size: cover; 
    border: none;
    cursor: pointer;
}
@media(max-width:1840px){
    #logo{
        font-size: 6.8rem;
    }   
    .info{
        font-size: 3rem;
    }
    #img img{
        width: 60%;
    } 
    input{
        width: 15rem;
    }
}
@media(max-width:1440px){
    #logo{
        font-size: 6rem;
    }   
    .info{
        font-size: 2.8rem;
    }
    #img img{
        width: 70%;
    } 
    input{
        width: 13rem;
    }
}
@media(max-width:1345px){
    *{
        display: none;
    }
}