@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-snap-type: x mandatory;
}
body{
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    background: linear-gradient(to bottom, white, #fff3ae9a);
}
#main{
    display: flex;
}
#main section{
    scroll-snap-align: start;
    height: 100%;
    width: 100vw;
}

#home{
    user-select: none;
    background-image: url('assets/wave.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}
#home main{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:50px 100px;
    
}
#menu{
    display: flex;
    list-style: none;
    gap: 10rem;
    font-size: 1.1rem;
}
#orange{
    width: 40px;
    margin-right: 25px;
}
#hello{
    padding-top: 300px;
    width: 40rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;    
}
#hello_title{
    font-size: 5rem;
    font-weight: 700;
    color: #ff5500;
    font-style: italic;
}
#hello_description{
    font-size: 1.5rem;
}
#learn_more{
    width: fit-content;
    padding: 10px;
    border-radius: 100px;
    color: white;
    background-color: #ff5500;
    cursor: pointer;
    font-size: 1.2rem;
}
#learn_more:hover{
    background-color: #ff5500;
}
#img{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
#img img{
    width: 50%
}
#call{
    padding: 10px;
    border-radius: 100px;
    color: white;
    background-color: #ff5500;
    cursor: pointer;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    color: #ff5500;
}
#header_logo{
    color: #ff5500;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    
}









#teste{
    width: 100vw;
    height: 100%;
    background-image: url('assets/wave.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titulo{
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    color: black;
}
table{
    border-spacing: 10px;
    padding: 70px;
    border-top:3px solid #ff4d00;
    border-bottom:4px solid #ff4d00;
}
tr{
    background-color: white;
}
th{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    background-color: #ff5500;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
td{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0px 10px;
    border: 3px solid #ff9100;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}
#corpo button{
    width: 30px;
    height: 30px;
    background: none;
    background-image: url('assets/trash.png');
    background-size: cover; 
    border: none;
    cursor: pointer;
}


#cadastrar{
    background-image: url('assets/wave.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
input{
    width: 17.2rem;
    padding: 15px;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.1rem;
    margin: 5px 0;
}
form{
    padding: 70px;
    border-top:3px solid #ff4d00;
    border-bottom:4px solid #ff4d00;
}
#butao{
    background-color: #ff4d00;
    box-shadow: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
}
#butao:hover, #learn_more:hover, #call:hover{
    background-color: #ff0000;
}


#saibamais{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    flex-direction: column;
    padding:0 200px;
    user-select: none;
    background-image: url('assets/wave.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}
#lorem{
    width: fit-content;
    padding: 10px;
    border-radius: 100px;
    color: white;
    background-color: #ff5500;
    cursor: pointer;
    font-size: 1.5rem;

}
::-webkit-scrollbar {
    height: 15px;
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: grey;
  }
#next_page{
    padding: 50px;
    font-size: 4rem;
    color: #ff9100;
    font-weight: bold;
    text-shadow: 0px 0.4rem 0 #ff4d00;
    font-style: italic;
}